*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    display: flex;
    right: 0%;
    font-size: 22px;
    margin-top: 20px;
    padding-right: 30px;
    padding-top: 10px;
    
}
#nav h3, #nav h4{
    background-color: black;
    color: white;
    border-radius: 500px;
    padding: 20px 30px;
    margin-left: 10px;
}
#nav h4{
    background-color: black;
    color: white;
    border-radius: 500px;
    padding: 20px 30px;
}
.intro{
    /* background-color: blue; */
    height: 40%;
    width: 100%;
    padding: 50px 60px;
}
.intro h1{
font-size: 140px;
line-height: 130px;
letter-spacing: -5px;
}
.place h4{
    left: 120%;
    width: 160px;
        
}
.place h3{
    font-size: 25px;
    position: absolute;
}
.place{
    margin-top: 30px;
justify-content: space-between;
}
.place h3, .place h4{
display: flex;
position: absolute;
}
.place-end{
    display: flex;
    position: absolute;
    color: black;
    font-size: 29px;
    left: 82%;
    }
.hero{
    height: 70%;
    width: 100%;
    
}