*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: aeonik;
}
html,body{
    height: 100%;
    width: 100%;
}
.intro{
    /* background-color: blue; */
    height: 40%;
    width: 100%;
    padding: 30px;
}
.intro h1{
font-size: 140px;
line-height: 130px;
}
h4{
    display: flex;
    top: 0;
    left: 120%;
    width: 160px;
        
}
h3{
    font-size: 25px;
    position: absolute;
}
.place{
    margin-top: 30px;
justify-content: space-between;
}
.place h3, .place h4{
display: flex;
position: absolute;
}
.place-end{
    display: flex;
    position: absolute;
    color: black;
    font-size: 29px;
    left: 82%;
    
    
    }